*.swp
*.pyc
.coverage
*.prof
*.vtu
*~
doc/sphinx/build
examples/large-experiments
examples/small-experiments
build/
srlife.egg-info/
dist/

examples/gen3L-sodium/model.hdf5
examples/gen3L-sodium/*.pdf
examples/gen3L-sodium/*.png